@import 'tailwindcss';
@import './base.css';

@theme {
  --color-aura-navy: #004080;
  --color-aura-navy-dark: #00325f;
  --color-aura-blue: #008cc4;
  --color-aura-cyan: #00c8e6;
}

#app {
  width: 100%;
  min-height: 100vh;
  font-weight: normal;
}
